let mapleader=" "

Plug 'tpope/vim-surround'
Plug 'machakann/vim-highlightedyank'

""" Common settings -------------------------
set showmode
set so=5
set incsearch
set relativenumber
set number

set ideajoin
set clipboard+=ideaput

""" Plugins ---------------------------------
let g:qs_highlight_on_keys = ['f', 'F', 't', 'T']

set NERDTree
set quickscope
set which-key
set notimeout

""" IdeaVim ---------------------------------
nnoremap \e :e ~/.ideavimrc<CR>
nnoremap \r :action IdeaVim.ReloadVimRc.reload<CR>
nnoremap \f :action SearchEverywhere<CR>

""" Binds -----------------------------------
nmap <leader>lf :action ReformatCode<CR>
nmap <leader>lr :action RenameElement<CR>
nmap <leader>la :action ShowIntentionActions<CR>
nmap K          :action QuickJavaDoc<CR>
nmap KE         :action ShowErrorDescription<CR>

nmap <leader>/  :action CommentByLineComment<CR>
vmap <leader>/  :action CommentByLineComment<CR>

""" Copy/Paste to SystemClipBoard -----------
nmap <leader>y  :action $Copy<CR><Esc>
vmap <leader>y  :action $Copy<CR><Esc>
nmap <leader>p  :action $Paste<CR>
vmap <leader>p  :action $Paste<CR>

""" Goto ------------------------------------
nnoremap gc :action GotoClass<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gd :action GotoDeclaration<CR>
nnoremap gu :action FindUsages<CR>
nnoremap gp :action GotoSuperMethod<CR>
nnoremap ge :action GotoNextError<CR>
nnoremap gE :action GotoPreviousError<CR>
nnoremap gb :action Back<CR>
nnoremap gf :action Forward<CR>

""" Buffer ----------------------------------
nmap <leader>bb :action PreviousTab<CR>
nmap <leader>bn :action NextTab<CR>

""" Tabs ------------------------------------
nmap <leader>q :action CloseContent<CR>
nmap <leader>Q :action ReopenClosedTab<CR>

""" Splits ----------------------------------
nmap <leader>bor :action SplitVertically<CR>
nmap <leader>bod :action SplitHorizontally<CR>
nmap <leader>bq  :action Unsplit<CR>
nmap <leader>bqa :action UnsplitAll<CR>
nmap <M-h>       :action PrevSplitter<CR>
nmap <M-l>       :action NextSplitter<CR>

""" Project Tree ----------------------------
nmap <leader>e  :NERDTree<CR>
nmap <leader>E  :action HideActiveWindow<CR>

""" Run -------------------------------------
nnoremap ,r :action Run<CR>
nnoremap ,s :action Stop<CR>
nnoremap ,c :action RunClass<CR>
nnoremap ,d :action Debug<CR>

""" Term ------------------------------------
nnoremap <leader>t :action Terminal.OpenInTerminal<CR>
