* {
    font-family: Jet Brains Mono;
    font-weight: bold;
    font-size: 14px;
}

window#waybar {
    background-color: rgba(43, 48, 59, 0);
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

#network {
    background-color: #343434;
    border-radius: 0px 10px 10px 0px;
    border: 2px solid #b29fdc;
    border-left: 0px;
    padding-left: 0px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces {
    margin-right: 15px;
}

#workspaces button.active {
    color: #ffffff;
}

#workspaces button:hover {
    /*background: rgba(0, 0, 0, 0.2);*/
    background: #11111b;
    color: #cdd6f4;
    border-radius: 10px;
}

#workspaces button.focused {
    /*background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;*/
    color: #a6adc8;
    background: #eba0ac;
    border-radius: 10px;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727d;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#pulseaudio-mic,
#wireplumber,
#custom-media,
#custom-sep,
#custom-updates,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
    padding: 0 10px;
    color: #ffffff;
}

#window,
#workspaces {
    border-radius: 10px;
    padding: 0px 10px;
    background-color: #343434;
    border: 2px solid #68c136;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: #343434;
    border-radius: 10px;
    border: 2px solid #418bc4;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

label:focus {
    background-color: #000000;
}

#cpu {
    color: #ffffff;
    background-color: #343434;
    border: 2px solid #b29fdc;
    border-left: none;
    border-right: 0px;
}

#memory {
    color: #ffffff;
    background-color: #343434;
    border: 2px solid #b29fdc;
    border-right: 0px;
    padding-left: 0px;
    border-left: 0px;
    border-right: 0px;
}

#disk {
    border-radius: 0px 10px 10px 0px;
    color: #ffffff;
    background-color: #343434;
    border: 2px solid #b29fdc;
    padding-left: 0px;
    border-left: 0px;
    margin-right: 10px;
}

#battery {
    background-color: #343434;
    margin-right: 0px;
    border: 2px solid #b29fdc;
    border-right: 0px;
    border-left: 0px;
    padding-left: 3px;
    padding-right: 5px;
}

#backlight {
    background-color: #343434;
    border: 2px solid #b29fdc;
    border-left: 0px;
    border-right: 0px;
    padding-left: 3px;
}

#network.disconnected {
    border-color: #f53c3c;
}

#custom-playerctl {
    border-radius: 10px;
    background-color: #343434;
    border: 2px solid #dbbc7f;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
}
#pulseaudio {
    color: #ffffff;
    border-radius: 0px;
    border: 2px solid #b29fdc;
    background-color: #343434;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio.mic {
    color: #ffffff;
    border: 2px solid #b29fdc;
    border-left: 0px;
    border-right: 0px;
    padding-left: 0px;
}

#pulseaudio.muted {
    color: #e67e80;
}

#custom-updates {
    border-radius: 10px 0px 0px 10px;
    color: #ffffff;
    background-color: #343434;
    border: 2px solid #b29fdc;
    padding-left: 5px;
    padding-right: 5px;
    border-right: 0px;
}

#tray {
    padding-left: 10px;
    border-radius: 10px 10px 10px 10px;
    background-color: #343434;
    border: 2px solid #829b6e;
    margin-right: 10px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#custom-powermenu {
    border-radius: 10px 10px 10px 10px;
    background-color: #f38ba8;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 16px;
    margin-right: 10px;
}
